html {
    box-sizing: border-box;
    font-family: 'Kaushan Script', cursive;
    background-position: center;
    background-color: rgb(255, 241, 241);
    background-size: auto;
    line-height: 1.5;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    text-align: center;
    max-width: 1000px;
    margin: auto;
    background-image: url("../images/tlo2.jpg");
    image-resolution: auto;
    background-position: center;
    background-size: 1000px;
}

.mainHeader {
    color: #ffffffcb;
    text-align: center;
    font-size: 35px;
    background-color: rgb(31, 30, 29);
    margin-top: 0px;
    margin-bottom: 0px;
}

.photo1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding: 0px 20px 0px;
    width: 100%;
}
